<!doctype html>
<html>

<head>
	<!--
      ┐ │ ┬─┐ ┬─┐┌─┐
      ┌┼┘─├─  │┬┘│ │
      ┆ └ ┴─┘o┆└┘┘─┘
┬─┐o┐ │┬─┐┬  ┌─┐┬─┐┬─┐┬─┐┬─┐
│─┘│┌┼┘├─ │  │ ┬│┬┘│─┤├─ ├─
┆  ┆┆ └┴─┘┆─┘┆─┘┆└┘┘ ┆┆  ┆
-->
	<title>xero.0w.nz</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="author" content="xero harrison">
	<meta name="description" content="the website of xero harrison">
	<meta name="keywords" content="{{&keywords}}">
	<meta name="theme-color" content="#222222">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{&domain}}/ui/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{&domain}}/ui/ico/icon-144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{&domain}}/ui/ico/icon-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{&domain}}/ui/ico/icon-72.png">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{&domain}}/ui/ico/icon-57.png">
	<link rel="apple-touch-icon-precomposed" sizes="16x16" href="{{&domain}}/ui/ico/icon-16.png">
	<link rel="stylesheet" type="text/css" href="{{&domain}}/ui/theme.css?{{&ripcache}}">
	<script src="{{&domain}}/ui/htmx.js"></script>
	<meta name="htmx-config" content='{"selfRequestsOnly":"true"}'>
</head>

<body>
	<header>
		<nav>
			<section id="logo"><a href="{{&domain}}"></a></section>
			<section id="menu"><i class="nf nf-md-menu_open" hx-on:click="htmx.toggleClass(htmx.find('#linx'), 'shown')"></i>
			</section>
			<ul id="linx">
				<li><a href="#"><i class="nf nf-fa-user"></i><b>whois</b></a></li>
				<li class="selected"><a href="#"><i class="nf nf-fa-book"></i><b>blog</b></a></li>
				<li><a href="#"><i class="nf nf-fa-code"></i><b>code</b></a></li>
				<li><a href="#"><i class="nf nf-fa-camera"></i><b>vids</b></a></li>
				<li><a href="#"><i class="nf nf-fa-flask"></i><b>lab</b></a></li>
				<li><a href="#"><i class="nf nf-seti-font"></i><b>fonts</b></a></li>
				<li><a href="#"><i class="nf nf-fa-bolt"></i><b>etc</b></a></li>
			</ul>
		</nav>
	</header>

	<main id="main" hx-boost="true" hx-push-url="true" hx-target="#content" hx-indicator="#loading">
		<section id="content">
			{{&content}}
		</section>

		<aside>
			{{&sidebar}}
		</aside>
	</main>

	<section id="loading" class="htmx-indicator">
		<img src="//xero.0w.nz/ui/img/metroid-super.gif" alt="loading..." title="loading..." />
		<h1>loading...</h1>
	</section>

	<footer>
		<section id="cc"><a href="http://creativecommons.org/licenses/by-sa/3.0/"
				title="creative commons - attribution-shareAlike 3.0 unported">
				<i class="nf nf-fae-cc_cc"></i></a>
			{{&footer}}
			<img src="{{&domain}}/ui/img/metroid-larva.gif" id="metroid-larva" alt="metroid-larva">
			<img src="{{&domain}}/ui/img/metroid.gif" id="metroid" alt="metroid">
			<!--
 .___.
/  @  \
\ @ @ /
 {'^'}
-->
		</section>
		<nav>
			<ul>
				<li><a id="git" class="nf nf-fa-git" href="#"></a></li>
				<li><a id="rss" class="nf nf-fa-rss" href="#"></a></li>
			</ul>
		</nav>
	</footer>
</body>

</html>
