			<title>{{&pageTitle}} {{&title}} : {{&subtitle}}</title>
			<article class="post {{&mainCatUrl}}">
				<header>
					<h2><a href="{{&domain}}/{{&url}}">{{&title}}</a></h2>
					<h3><a href="{{&domain}}/category/{{&mainCatUrl}}">{{&mainCat}}</a> :: {{&subtitle}}</h3>
				</header>
					{{&content}}
				<footer class="meta">
					<section class="date">
						<div class="day">{{&day}}</div>
						<div class="month">{{&month}}</div>
						<div class="year">{{&year}}</div>
					</section>
					<section class="info">
						<div class="cat"><i class="nf nf-md-folder_multiple"></i>posted in: {{&catList}}</div>
						<div class="tag"><i class="nf nf-md-tag_multiple"></i>tagged: {{&tagList}}</div>
					</section>
				</footer>
			</article>
