			<section>
				<h3><em>categories</em></h3>
				<article class="cats flex">
					<article class="flex-col basis-1/2 mr-2">
						<i class="code nf nf-md-folder_multiple"></i><a class="code title"
							href="{{domain}}/category/code/">code</a>
						<ul class="code">
							<li><a href="{{domain}}/category/code/as3/">actionscript</a></li>
							<li><a href="{{domain}}/category/code/c-sharp/">c#</a></li>
							<li><a href="{{domain}}/category/code/sql/">sql</a></li>
							<li><a href="{{domain}}/category/code/php/">php</a></li>
							<li><a href="{{domain}}/category/code/perl/">perl</a></li>
							<li><a href="{{domain}}/category/code/html-css/">html/css</a></li>
							<li><a href="{{domain}}/category/code/javascript/">javascript</a></li>
							<li><a href="{{domain}}/category/code/shell/">shell</a></li>
						</ul>
						<i class="art nf nf-md-folder_multiple"></i><a class="art title" href="{{domain}}/category/art/">art</a>
						<ul class="art">
							<li><a href="{{domain}}/category/art/fonts/">fonts</a></li>
							<li><a href="{{domain}}/category/art/abstract/">abstract</a></li>
							<li><a href="{{domain}}/category/art/pixel/">pixel</a></li>
							<li><a href="{{domain}}/category/art/ascii/">ascii</a></li>
							<li><a href="{{domain}}/category/art/graffiti/">graffiti</a></li>
						</ul>
						<i class="notes nf nf-md-folder_multiple"></i><a class="notes title"
							href="{{domain}}/category/notes/">notes</a>
						<ul class="notes">
							<li><a href="{{domain}}/category/notes/misc/">misc</a></li>
						</ul>
					</article>
					<article class="flex-col basis-1/2">
						<i class="lab nf nf-md-folder_multiple"></i><a class="lab title" href="{{domain}}/category/lab/">lab</a>
						<ul class="lab">
							<li><a href="{{domain}}/category/lab/demos/">demos</a></li>
							<li><a href="{{domain}}/category/lab/interactive/">interactive</a></li>
							<li><a href="{{domain}}/category/lab/linux/">linux</a></li>
							<li><a href="{{domain}}/category/lab/mobile/">mobile</a></li>
							<li><a href="{{domain}}/category/lab/h4x/">h4x</a></li>
							<li><a href="{{domain}}/category/lab/netart/">#netart</a></li>
						</ul>
						<i class="entertainment nf nf-md-folder_multiple"></i><a class="entertainment title"
							href="{{domain}}/category/entertainment/">entertainment</a>
						<ul class="entertainment">
							<li><a href="{{domain}}/category/entertainment/games/">games</a></li>
							<li><a href="{{domain}}/category/entertainment/audio/">audio</a></li>
							<li><a href="{{domain}}/category/entertainment/video/">video</a></li>
						</ul>
						<i class="random nf nf-md-folder_multiple"></i><a class="random title"
							href="{{domain}}/category/random/">random</a>
						<ul class="random">
							<li><a href="{{domain}}/category/random/math/">math.random()</a></li>
							<li><a href="{{domain}}/category/random/life/">life</a></li>
							<li><a href="{{domain}}/category/random/quotes/">quotes</a></li>
						</ul>
						<i class="uncategorized nf nf-md-folder_multiple"></i><a class="uncategorized title"
							href="{{domain}}/category/uncategorized/">uncategorized</a>
					</article>
				</article>
			</section>
			<section>
				<h3><em>feeds</em></h3>
				<article class="feeds flex">
					<article class="ico flex-col basis-1/3">
						<i class="nf nf-md-rss"></i>
					</article>
					<article class="list flex-col basis-2/3">
						<ul class="rss">
							<li><a href="http://feeds.x-e.ro/rss/blog/newest">newest posts</a></li>
							<li><a href="http://feeds.x-e.ro/">more feeds</a></li>
						</ul>
					</article>
				</article>
				<article class="feeds flex">
					<article class="ico flex-col basis-1/3">
						<i class="nf nf-md-radioactive"></i>
					</article>
					<article class="list flex-col basis-2/3">
						<ul class="atom">
							<li><a href="http://feeds.x-e.ro/atom/blog/newest">newest posts</a></li>
							<li><a href="http://feeds.x-e.ro/">more feeds</a></li>
						</ul>
					</article>
				</article>
			</section>
